* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /*times new*/
}

#container {
    width: 1200px;
    margin: 0 auto;
    background: #F1F2ED;
}

#banner {
    width: 1200px;
}

#galeria {
    margin-left: 260px;
}

#imagem {
    margin-left: 520px;
}

#text01 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #7E7F81;
}

#text02 {
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    color: #914416;
    width: 200px;
    margin: 0 auto;
    margin-left: 100px;
    float: left;
}


#text03 {
    text-align: left;
    color: black;
    font-weight: 500;
    font-size: medium;
    float: right;
    
}

#text04 {
    text-align: left;
    color: black;
    font-weight: 500;
    font-size: medium;
    float: left;
    
}

#text05 {
    text-align: left;
    color: black;
    font-weight: 500;
    font-size: medium;
    float: right;
    
}

#text06 {
    text-align: left;
    color: black;
    font-weight: 500;
    font-size: medium;
    float: left;
    
}

#text07 {
    text-align: left;
    color: black;
    font-weight: 500;
    font-size: medium;
    float: right;
    
}

#text08 {
    text-align: left;
    color: black;
    font-weight: 500;
    font-size: medium;
    float: left;
    
}

#text09 {
    text-align: left;
    color: black;
    font-weight: 500;
    font-size: medium;
    float: right;
    
}

#rodape {
    width: 1200px;
    height: 50px;
    background-color: red;
}



/*Navegação*/
#bg-menu {
    width: 100%;
    height: 40px;
    background-color: #F1F2ED;
}

#menu {
    width: 800px;
    margin: 0px auto;
}

ul {
    /*Zerar margem e espaçamento*/
    margin: 0px;
    padding: 0px;

    /*Tirar símbolo de lista*/
    list-style-type: none;
    background-color: #F1F2ED;
    float: left;
}

ul li {
    float: left;
}

ul a {
    display: block;
    width: 120px;
    padding: 0 2.5em;
    font-family: 'Times New Roman', Times, serif;

    /*Centralizar conteudo*/
    line-height: 2.5em;
    text-align: center;
    color: #A66D03;

    /*Retirar sublinhado do link*/
    text-decoration: none;
}

a:hover {
    color: #7e5303;
    background-color: #e4a530;
}