header {
    width: 100%;
    background-color: rgb(139, 138, 138);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
}
 
nav ul li {
    display: inline-block;
}
 
nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-size: 1em;
    text-transform: uppercase;
}